/* universal reset */
* {box-sizing:border-box;margin:0;padding:0;border:0;font:inherit;}
*::before, *::after {box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
/* define the app body (previously the wrapper element) */
body {
	position: relative;
	min-width:800px;
	font: normal normal 400 1em/1.2 "Source Sans Pro",arial,sans-serif;
	background: scroll border-box #FFF linear-gradient(
 		to right,
		rgba(200,200,215,1.0) 0%,
		rgba(20,20,40,0.55) 50%,
		rgba(200,200,215,1.0) 100%
	) border-box repeat top left/100% 100%;
}

/* define the primary navigation header */
nav {
	z-index: 2;
	position: absolute;
	top: 20px;
	right: 50px;
	left: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.1), inset 0 0 10px 2px rgba(255,255,255,0.2);
	padding: 10px 75px;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 75%, rgba(255,255,255,0) 100%);
	color: #000;
	font-weight: 700;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}

/* define the primary content section */
main {
	z-index: 1;
	position: absolute;
	top: 10px;
	right: 100px;
	left: 100px;
	box-shadow: 0 0 5px 2px rgba(50,50,75,0.9), inset 0 0 5px 2px rgba(200,200,200,0.5);
	/*
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	*/
	border-radius: 20px;
	padding: 55px 10px 10px;
	color: #FFF;
	background: scroll border-box #000 url("../images/bg/congruent_outline.png") border-box center repeat;
}

/* default font definitions */
h1, h2, h3, h4 {
	font-weight: 700;
	font-family: "Montserrat",arial,sans-serif;
}
h1 {
	font-size: 140%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 110%;
}
h4 {
	font-size: 100%;
}
p {
	margin: 1em 0;
	font-family: "Open Sans",arial,sans-serif;
}

/* text definitions */
.text-emboss {
	text-shadow: 0 -3px 2px rgba(255,255,255,0.3), 0 2px 3px rgba(0,0,0,0.2);
}
.text-deboss {
	text-shadow: 0 2px 3px rgba(255,255,255,0.3), 0 -1px 2px rgba(0,0,0,0.2);
}
.text-stroke-webkit {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	-webkit-text-stroke: 2px rgba(0,0,0,0.6);
	-webkit-text-fill-color: rgba(255,255,255,1.0);
}
.text-stroke-fallback {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6), -1px -1px 1px rgba(0,0,0,0.6), 1px -1px 1px rgba(0,0,0,0.6), -1px 1px 1px rgba(0,0,0,0.6), 1px 1px 3px rgba(0,0,0,0.2);
}

/* thermometer style header with indicator "light"  */
.thermometer {
	position: relative;
	display: block;
	width: 150px;
	margin-left: 44px;
	border-radius: 0 22px 22px 0;
	border: 5px solid #000000;
	border-left: none;
	background: #C0C0C0;
	color: #4a1c03;
}
/* bulb */
.thermometer::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -31px;
	display: block;
	width: 40px;
	height: 40px;
	z-index: -1;
	border-radius: 20px;
	border: 5px solid #000000;
	/* sets the indicator color */
	background: radial-gradient(ellipse at center, #FF0000 0%, #FF9999 80%);
	/* should match background of parent */
	box-shadow: inset 0 0 0 6px #C0C0C0;
}
/* blend the borders into the parent */
.thermometer::after {
	content: '';
	position: absolute;
	top: -7px;
	left: -28px;
	display: block;
	width: 48px;
	height: 34px;
	z-index: -2;
	border-radius: 24px/17px;
	border: 5px solid #000000;
	background: transparent;
}